body {
    font-family: $Lora;
    font-size: 16px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
}

// .hero__headline {
//         font-size: 1.75rem;
// }

// .hero__description {
//     font-size: 1.10rem;
// }

h1, h2, h3, h4, h5 {
    font-family: $SourceSans;
    font-weight: 900;
    line-height: 1.25;
}

#site-title {
    font-size: 2rem;
    font-weight: 200;
}

h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.333;
    text-decoration: underline;

}

p {
    margin-bottom: 1rem;
}

a {
    color: $link;
}
.portfolio-piece__title {
    font-size: 1.8rem;
}
.portfolio-piece__tags {
    font-size: 1.2rem;
}

.white {
    color: white;
}
.center {
    text-align: center;
}

.title-flex {
    flex: 100%;
    &:before {
        content: "";
        padding: 0 .25rem;
        background: $link;
        margin-right: .5rem;
    }
}

.decoration {
    text-decoration: none!important;
}

#contact, #contact-me {
    font-size: 1.1rem;
}

// CSS FOR BLOG PAGE

.blog-post-title {
    font-size: 2.5rem;
    color: black;
}

.date {
    font-size: 1rem;
    color:#C2C4C7;
    // font-weight: 100;
}

.read-more {
    color: #E77445;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 2em;
    text-transform: uppercase;
    &:after {
        content: url("../images/icons/arrow.svg");
        color: #E77445;
        margin-left: 15px;
        display: inline-block;
        vertical-align: text-bottom;
    }
}



// #blog-posts {
//     flex: 100%;
//     padding-bottom: .2rem;
//     &:before {
//         content: "";
//         padding: 0 .25rem;
//         background: $link;
//         margin-right: .5rem;
//     }
// }

// NEED TO TARGET ANCHOR CLASS WITH THE SELECTOR WRITTEN BELOW

