@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,700,900");
* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.25; }

#site-title {
  font-size: 2rem;
  font-weight: 200; }

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0 0 1rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.333; }

h4 {
  font-size: 1.2rem; }

p {
  margin-bottom: 1rem;
  line-height: 1.5; }

a {
  color: #E87345; }

a:hover {
  color: #E77445; }

.portfolio-piece__title {
  font-size: 1.8rem; }

.portfolio-piece__tags {
  font-size: 1.2rem; }

.white {
  color: white; }

.center {
  text-align: center; }

.title-flex {
  flex: 100%; }
  .title-flex:before {
    content: "";
    padding: 0 .25rem;
    background: #E87345;
    margin-right: .5rem; }

#blog-title {
  color: black; }

.decoration {
  text-decoration: none !important; }

#contact, #contact-me {
  font-size: 1.1rem; }

.blog-post-title {
  font-size: 2.5rem;
  color: black; }

.date {
  font-size: 1rem;
  color: #C2C4C7; }

.read-more {
  color: #E77445;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 2em;
  text-transform: uppercase; }
  .read-more:after {
    content: url("../images/icons/arrow.svg");
    height: 1rem;
    width: 1rem;
    color: #E77445;
    margin-left: 15px;
    display: inline-block;
    vertical-align: text-bottom; }

.container, .container--flex, .row, .container--flex0 {
  margin: 0 auto; }
  .container--flex, .row {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start; }
  .container--flex0 {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start; }

.row--spaced {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    .row--spaced {
      margin-bottom: 4rem; } }
  @media only screen and (min-width: 1024px) {
    .row--spaced {
      margin-bottom: 6rem; } }

.col-4 {
  flex: 0 0 100%; }

.col-2 {
  flex: 0 0 50%; }

.offset {
  margin-left: 50%; }

@media only screen and (min-width: 768px) {
  .med--col-5 {
    padding: 0 1rem;
    flex: 0 0 75%;
    max-width: 75%; }
  .med--col-2 {
    padding: 0 1rem;
    flex: 0 0 45%;
    max-width: 45%; } }
@media only screen and (min-width: 1024px) {
  .lrg--col-7 {
    padding: 0 1rem;
    flex: 0 0 55%;
    max-width: 55%; }
  .lrg--col-3 {
    padding: 0 1rem;
    flex: 0 0 30%;
    max-width: 30%; } }
.button {
  color: white;
  background: #E87345;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  text-align: center;
  text-decoration: none; }
  .button:hover {
    background: #e97a4e; }

.header-background {
  background: url("https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_2000/v1523317884/mattUnderwood.me/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  margin-top: -70px;
  display: flex;
  align-items: center;
  /* align vertical */
  justify-content: center; }

.hero {
  margin-bottom: 35px; }
  @media only screen and (min-width: 320px) {
    .hero {
      max-width: 90%; } }
  @media only screen and (min-width: 360px) {
    .hero {
      max-width: 85%; } }
  @media only screen and (min-width: 1024px) {
    .hero {
      max-width: 65%; } }
  .hero__headline {
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 320px) {
      .hero__headline {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 360px) {
      .hero__headline {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 768px) {
      .hero__headline {
        font-size: 1.75rem; } }
    @media only screen and (min-width: 1024px) {
      .hero__headline {
        font-size: 2rem;
        margin-bottom: 2rem; } }
  @media only screen and (min-width: 320px) {
    .hero__description {
      font-size: 1rem; } }
  @media only screen and (min-width: 360px) {
    .hero__description {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 768px) {
    .hero__description {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 1024px) {
    .hero__description {
      font-size: 1.4rem; } }

/* Navigation Menu */
.nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  line-height: 70px;
  height: auto;
  min-height: 70px;
  background-color: white;
  overflow: hidden;
  padding-right: 50px;
  transition: top 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 8px 6px -7px gray;
  -moz-box-shadow: 0 8px 6px -7px gray;
  box-shadow: 0 8px 6px -7px gray; }

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.nav + .wrapper {
  padding-top: 70px; }

#menu a {
  clear: right;
  text-decoration: none;
  color: var(--dark);
  line-height: 70px; }

/* Change navbar link background color, color, and font-weight when hovered over - also works in hamburger view */
#menu a:hover {
  background: #efefef;
  color: black;
  font-weight: 500; }

/* Hamburger Menu */
label {
  margin-right: 40px;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right; }

#toggle {
  display: none; }

@media only screen and (max-width: 815px) {
  label {
    display: block;
    cursor: pointer;
    margin-right: 20px; }

  .menu {
    text-align: center;
    width: 100%;
    display: none; }

  #menu a {
    display: block;
    border: 1px solid #EAEAEB;
    margin: 0; }

  #mattUnderwood {
    font-size: 20px;
    font-weight: 700;
    float: left;
    margin-left: 2%;
    text-decoration: none;
    color: var(--dark);
    line-height: 70px; }

  #toggle:checked + .menu {
    display: block; } }
@media only screen and (min-width: 815px) {
  #mattUnderwood {
    font-size: 22px;
    font-weight: 700;
    float: left;
    margin-left: 2%;
    text-decoration: none;
    color: var(--dark);
    line-height: 70px; }

  #menu a {
    display: inline-block;
    padding: 0 10px 0 10px; } }
@media only screen and (min-width: 751px) and (max-width: 800px) {
  .nav {
    padding-right: 20px; } }
@media only screen and (max-width: 750px) {
  .nav {
    padding-right: 0px; } }
#contact-me {
  padding: 1rem 0;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999; }
  @media only screen and (min-width: 768px) {
    #contact-me {
      position: relative;
      width: 13rem;
      height: auto; } }

.portfolio-piece {
  padding: 1rem;
  margin: 0 1rem;
  width: 100%;
  height: calc(24rem - 2rem);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0rem; }
  .portfolio-piece:last-child {
    margin-bottom: 0; }
  .portfolio-piece__title {
    margin-bottom: .5rem;
    text-decoration: none; }
  .portfolio-piece__title, .portfolio-piece__tags {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); }
  @media only screen and (min-width: 320px) {
    .portfolio-piece {
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 768px) {
    .portfolio-piece {
      margin-bottom: 2rem; } }

.darken_taxi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1547649604/mattUnderwood.me/ubud_taxi_service.jpg); }

.darken_weather {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317885/mattUnderwood.me/weather_app.jpg); }

.darken_wiki {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317885/mattUnderwood.me/wikipedia_viewer.jpg); }

.darken_quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317884/mattUnderwood.me/quote_machine.jpg); }

.darken_color {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317884/mattUnderwood.me/color_game.jpg); }

.darken_todo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317884/mattUnderwood.me/todo_list.jpg); }

#blog {
  background: url(../images/blog-section-background.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 0; }

.blog__container {
  margin: 0 1rem;
  margin-top: 0; }
.blog__spacer {
  padding-top: .5rem; }
.blog__article-title {
  margin-top: 2rem; }
  .blog__article-title:first-child {
    margin-top: 1.5rem; }
.blog__article-link {
  color: #333333; }
@media only screen and (min-width: 768px) {
  .blog__article-title {
    max-width: 26rem; } }

.contact {
  background: #333333;
  color: white;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap; }
  .contact__social {
    margin-bottom: 2rem; }
  .contact__button {
    width: 18rem; }
    .contact__button:hover {
      color: white; }

.social {
  display: flex;
  justify-content: center; }
  .social__button {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    transition: all .25s ease-in-out; }
    .social__button:hover {
      color: #E87345; }

.footer-list {
  color: #9B9B9B;
  font-size: .9rem;
  margin: 2rem;
  text-align: center; }
  .footer-list__item {
    display: inline-block;
    margin-right: .5rem; }
    @media (min-width: 1px) and (max-width: 504px) {
      .footer-list__item {
        content: "";
        margin-top: .3rem;
        text-align: center;
        display: block; } }
    @media (min-width: 505px) {
      .footer-list__item:after {
        content: "|";
        margin-left: .5rem;
        display: inline-block; } }
    .footer-list__item:last-child:after {
      content: none; }

@media only screen and (min-width: 320px) {
  .row {
    margin-left: 1rem;
    margin-right: 1rem; } }
@media only screen and (min-width: 1024px) {
  .row {
    margin-left: 2rem;
    margin-right: 2rem; } }

@media only screen and (min-width: 320px) {
  .padding {
    padding-top: 2rem;
    padding-bottom: 2rem; } }
@media only screen and (min-width: 1024px) {
  .padding {
    padding-top: 4rem;
    padding-bottom: 4rem; } }

.blog-background {
  background: url(../images/blog-section-background.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 0;
  width: 100%;
  height: 70vh;
  padding: 2rem 1rem;
  margin-top: -70px;
  display: flex;
  align-items: center;
  /* align vertical  */
  justify-content: left; }

.my-blog {
  max-width: 60%;
  margin-bottom: 35px; }
  .my-blog__headline {
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 320px) {
      .my-blog__headline {
        font-size: 2rem; } }
    @media only screen and (min-width: 360px) {
      .my-blog__headline {
        font-size: 2.5rem; } }
    @media only screen and (min-width: 768px) {
      .my-blog__headline {
        font-size: 3rem; } }
    @media only screen and (min-width: 1024px) {
      .my-blog__headline {
        font-size: 4rem; } }
  @media only screen and (min-width: 320px) {
    .my-blog__description {
      font-size: 1rem; } }
  @media only screen and (min-width: 360px) {
    .my-blog__description {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 768px) {
    .my-blog__description {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 1024px) {
    .my-blog__description {
      font-size: 1.4rem; } }

@media only screen and (min-width: 320px) {
  .blog-padding {
    padding-bottom: 2rem; } }
@media only screen and (min-width: 1024px) {
  .blog-padding {
    padding-bottom: 4rem; } }

.center-me {
  display: flex;
  justify-content: center; }

.posted {
  min-width: 360px;
  max-width: 700px;
  padding-left: .5rem;
  padding-right: .5rem; }
  @media (min-width: 525px) {
    .posted {
      padding-left: 3rem;
      padding-right: 3rem; } }

.single-post {
  margin: 0 auto;
  padding: 35px 1em 30px; }
  .single-post:first-child {
    padding-top: 3rem; }
  .single-post:after {
    content: " ";
    display: block;
    margin-top: 4.5rem;
    border: 0;
    width: 100%;
    border-top: 1px solid #efefef;
    border-color: #c1c3c6; }
  .single-post:last-child:after {
    content: none; }

.blog-image {
  width: 100%; }

.related-posts {
  display: flex;
  min-width: 320px;
  width: 100%; }
  @media (min-width: 400px) {
    .related-posts {
      min-width: 400px; } }
  @media (min-width: 768px) {
    .related-posts .related-posts {
      min-width: 700px; }
    .related-posts .related-posts section:first-of-type {
      padding-right: 2em; }
    .related-posts .related-posts section:last-of-type {
      padding-left: 2em; } }
  .related-posts section {
    flex: 1; }
    .related-posts section:first-of-type {
      padding: 1em 1em 1em 0;
      text-align: right; }
    .related-posts section:last-of-type {
      padding: 1em 0 1em 1em; }
    .related-posts section h4 {
      font-weight: 700;
      margin: 10px 0; }
    .related-posts section .post-date {
      font-size: .9rem;
      color: #C2C4C7; }

.previous-post {
  text-align: right;
  color: #E77445;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .previous-post::before {
    content: url("../images/icons/arrow.svg");
    height: 1rem;
    width: 1rem;
    color: #E77445;
    display: inline-block;
    margin-right: 15px;
    vertical-align: text-bottom;
    transform: rotate(180deg); }

.next-post {
  color: #E77445;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .next-post::after {
    content: url("../images/icons/arrow.svg");
    height: 1rem;
    width: 1rem;
    color: #E77445;
    display: inline-block;
    margin-left: 15px;
    vertical-align: text-bottom; }

.vertical-divider {
  background-color: #c1c3c6;
  margin: 18px 0 35px;
  width: 1px;
  height: 100px; }

/*# sourceMappingURL=main.css.map */
